.menu {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-color: black;
    border-radius: 2px;
    background: rgb(227, 227, 227);
    border-style: solid;
    margin-bottom: 10px;
}

.entry {
    font-size: large;
    color: black;
    text-decoration:none; 
}